* {
    margin: 0;
    padding: 0;
    border: 0 none;
    font-size: 1em;
    line-height: 21px;
    font-family: Arial;
    color: #2e3436;
}

 body {
 	background-color: #F0E8E8;
 }

 .header {
 	background-color: #3a3d40;
 	position: relative; 
 	height: 80px;
 }


 #logo {
 	margin-left: 5%;
 	z-index: 100;
 	position: absolute; 
 	margin-top: 30px;
 	float: left;

 }


nav ul li a{
	width: 90px;
	font-weight: bold;
	color: #d4d4d4;
	font-family: Arial;
	font-size:14px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	line-height: 80px !important;
	height: 79px;
	border-right: solid 1px #000;
}




nav ul li a:hover{
	color: #6b99b6;
	background-color: #34373a !important;
}



li:first-child {
    border-left: solid 1px #000;
}

.active {
	color: #6b99b6;
}


.active a:hover {
	color: #d4d4d4;
}



.container {
	float: left;
	margin-top: 25px;
	margin-left: 12%;
	width: 76%;
	margin-right: 12%;
	background-color: #fff;
}

#slider {
	background-color: #888a85;
	height: 450px;
}

#our-services {
	padding: 15px;
	text-align: center;
	font-family: arial;
	color: #2e3436;
}
#our-services h2 {
	font-size: 1.5em;
	margin-top: 28px;
	font-weight: bold;
}

#our-services p {
	margin-top: 18px;
	line-height: 28px;
}

#tabs {
	float: left;
	margin-top: 40px;
}

#tabs_content {
	float: left;
	padding: 25px;
	margin-bottom: 5%;
	font-size: 0.9em;
	text-align: justify;
	border-top: solid 1px #cacaca;
	border-bottom: solid 4px #cacaca;
}

#tabs_content p {
	display: block; 
}

#tabs img {
	width: 35%;
	padding: 2%;
	float: left;
}

#group_tabs {

	float: left;
	margin-left: 25%;
	margin-top: 2px;
    text-align: center;
    vertical-align: middle;
    width: 66%;
    line-height: 60px;
    z-index: 10px;
    font-weight: bold;
}

#tabs1{
	padding: 5px;
    height: 30px;
    float:left;
    border-bottom: solid 1px #ffffff;
    border-top: solid 1px #cacaca;
    border-left: solid 1px #cacaca;
    border-right: solid 1px #cacaca;
    line-height: 25px;
}

#tabs2{
	padding: 5px;
    height: 30px;
    float:left;
    border: solid 1px #cacaca;
    border-left: none;
    border-bottom: none;
    background-color: #f9f9f9;
    line-height: 25px;
}

#tabs3{
	padding: 5px;
    height: 30px;
    float:left;
    border: solid 1px #cacaca;
    border-left: none;
    border-bottom: none;
    background-color: #f9f9f9;
    line-height: 25px;
}

#tabs1 a {
	color: #6b99b6;
	text-decoration: none;
}
 #tabs2 a {
	text-decoration: none;
}
#tabs3 a {
	text-decoration: none;
}

.title {
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}


#projects  {
	padding: 5px;
	float: left;
	text-align: center;
}


.img-responsive {
	margin-bottom: 25px !important;
    padding: 0 !important;
    border: 0 none;
    overflow: hidden;
}


/* Condiciones para dispositivos  moviles
*  Conditions for devices mobile
*/



/* para 480px o menos */
	@media screen and (max-width:480px) {

		#logo { width: 100%;
		}

		#slider {
			display: none;
		}

		nav {
			margin-top: 20%;
		}

		nav ul li a{
			 width: 100%;
			 float: left;
			background-color: #3a3d40;
         }

         #group_tabs {
         	margin-top: 10%;
			margin-left: 20% !important;
			font-size: 0.8em;
         }

         .title {
         	font-size: 0.9em;
         }
	}



@media all and (max-width: 768px) {
  nav ul li a{
			 width: 100%;
			 float: left;
			background-color: #3a3d40;
         }
}
